@model CheeseMVC.ViewModels.AddMenuItemViewModel
@{
    ViewData["Title"] = "Add item to Menu: " +  Model.Menu.Name;
}

<h2>Add Item</h2>

<form asp-controller="Menu" asp-action="AddItem" method="post">

    <div class="form-group">
        <label asp-for="cheeseID"></label>
        <select asp-for="cheeseID" asp-items="Model.Cheeses"></select>
        <span asp-validation-for="cheeseID"></span>
    </div>

    <input type="hidden" name="MenuID" value="@Model.Menu.ID" />

    <input type="submit" value="Add Menu Item" />

</form>